{% extends 'front-end/list.html' %}
{% load static %}
{% block botones_head %}
    <div class="row">
        <div class="container-fluid">
            <div class="form-group">
                <a type="button" class="btn btn-white btn-danger" onclick="window.location.reload();"><span
                        class="glyphicon glyphicon-refresh"></span> Actualizar
                </a>
                 <a type="button" class="btn btn-white btn-success" href="{% url 'empleado:rendimiento' %}"><i
                        class="fa fa-clock-o"></i> Por Rendimiento
                </a>
            </div>
            <div class="form-group col-lg-3">
                <label for="fecha"><strong>Filtar por Fecha de registro:</strong></label>
                <input type="text" name="fecha" id="fecha" class="form-control form-control-sm input-sm">
            </div>
        </div>
    </div>
{% endblock %}
{% block table_content %}
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Empleado</th>
        <th>Genero</th>
        <th>Cedula</th>
        <th>Correo</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>Celular</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
{% endblock %}

{% block extra %}
    <script src="{% static 'apps/empleado/report.js' %}"></script>
{% endblock %}