{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>{{ titulo }}</title>

    <meta name="description" content="overview &amp; stats"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/font-awesome/4.5.0/css/font-awesome.min.css' %}"/>
    <link rel="icon" href="{% static 'admin/img/monicagarces.ico' %}">

    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" href="{% static 'assets/css/fonts.googleapis.com.css' %}"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="{% static 'assets/css/ace.min.css' %}" class="ace-main-stylesheet"
          id="main-ace-style"/>

    <!--[if lte IE 9]>
			<link rel="stylesheet" href="{% static 'assets/css/ace-part2.min.css'%}" class="ace-main-stylesheet" />
		<![endif]-->
    <link rel="stylesheet" href="{% static 'assets/css/ace-skins.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/css/ace-rtl.min.css' %}"/>

    <!--[if lte IE 9]>
		  <link rel="stylesheet" href="{% static 'assets/css/ace-ie.min.css' %}" />


		<![endif]-->

    <!-- inline styles related to this page -->
    <link rel="stylesheet" href="{% static 'lib/isloading-v1.0.6/isloading-v1.0.6.css' %}"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{% static 'assets/css/chosen.min.css' %}"/>

    <!-- ace settings handler -->
    <script src="{% static 'assets/js/ace-extra.min.js' %}"></script>


    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
		<script src="{% static 'assets/js/html5shiv.min.js'%}"></script>
		<script src="{% static 'assets/js/respond.min.js'%}"></script>
		<![endif]-->


    {% block form_header %}

    {% endblock %}
</head>

<body class="no-skin">
{% include 'front-end/header.html' %}

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    {% include 'front-end/sidebar.html' %}

    <div class="main-content">
        <input type="hidden" id="indice" value="{{ empresa.indice }}">
        <input type="hidden" id="nombre_empresa" value="{{ empresa.nombre }}">
        <input type="hidden" id="user_tipo" value="{{ request.user.tipo }}">
        <div class="main-content-inner">
            <div class="page-content">
                <div class="page-header">
                    <h1>
                        Menu Principal
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            {{ entidad }}
                        </small>
                    </h1>
                </div><!-- /.page-header -->

                {% block content %}

                {% endblock %}

            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
    {% block modals %}

    {% endblock %}
    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
						<span class="bigger-120">
							<span class="blue bolder">Sistemas Informaticos</span>
							Profesionales &copy; 2021-2022
						</span>

                &nbsp; &nbsp;
                <span class="action-buttons">
							<a href="#">
								<i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
							</a>

							<a href="#">
								<i class="ace-icon fa fa-rss-square orange bigger-150"></i>
							</a>
						</span>
            </div>
        </div>
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>

<!-- <![endif]-->

<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='{% static "assets/js/jquery.mobile.custom.min.js" %}'>" + "<" + "/script>");
</script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

<!-- page specific plugin scripts -->

<!--[if lte IE 8]>
		  <script src="{% static 'assets/js/excanvas.min.js'%}"></script>
		<![endif]-->
<script src="{% static 'assets/js/jquery-ui.custom.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.ui.touch-punch.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.sparkline.index.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.flot.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.flot.pie.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.flot.resize.min.js' %}"></script>

<!-- ace scripts -->
<script src="{% static 'assets/js/ace-elements.min.js' %}"></script>
<script src="{% static 'assets/js/ace.min.js' %}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'lib/isloading-v1.0.6/isloading-v1.0.6.js' %}"></script>
<script src="{% static "lib/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.js" %}"></script>
<link rel="stylesheet" type="text/css"
      href="{% static 'lib/bootstrap-touchspin-master/dist/jquery.bootstrap-touchspin.css' %}"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.bootstrap.css"/>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.bootstrap.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.js"></script>
<script type="text/javascript"
        src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"></script>
<script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


{% block script %}

{% endblock %}
{% block extra %}

{% endblock %}
<script src="{% static 'apps/funtions.js' %}"></script>
</body>
</html>
