{% extends 'front-end/base.html' %}
{% load static %}
{% block content %}
    <input type="hidden" id="action" value="{{ action }}">
 <form id="form" method="post">
        <div class="row">
            <div class="col-lg-2 col-xs-1"></div>
            <div class="col-xs-12 col-sm-4 col-lg-8">
                <div class="widget-box">
                    <div class="widget-header">
                        <h4 class="widget-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{ titulo }}</h4>

                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up"></i>
                            </a>

                            <a href="#" data-action="close">
                                <i class="ace-icon fa fa-times"></i>
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">
                            {{ form.as_p }}
                        </div>
                    </div>
                    <div class="form-actions center">
                       <button class="btn btn-white btn-info btn-bold" type="submit">
                            <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                            Guardar
                        </button>
                        <button class="btn btn-white btn-danger btn-round" onclick="window.history.back();">
                            <i class="ace-icon fa fa-times red2"></i>
                            Cancelar
                        </button>
                    </div>
                </div>
            </div><!-- /.span -->
            <div class="col-lg-2 col-xs-1"></div>
        </div>
    </form>
{% endblock %}

{% block script %}

{% endblock %}
