{% extends 'front-end/base.html' %}
{% load static %}
{% block content %}
    {% if request.user.tipo == 1 %}
        <div class="row">
            <div class="col-sm-12 col-lg-2"></div>
            <div class="col-sm-12  col-lg-8 infobox-container">
                <div class="infobox infobox-green">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-comments"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number" id="citas_dia"></span>
                        <div class="infobox-content">Citas del dia</div>
                    </div>
                </div>

                <div class="infobox infobox-blue">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-twitter"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number" id="citas_semana_hoy"></span>
                        <div class="infobox-content">Citas de la semana</div>
                    </div>
                </div>

                <div class="infobox infobox-pink">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-users"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number" id="total_empleados"></span>
                        <div class="infobox-content">Total de empleados</div>
                    </div>
                </div>

                <div class="infobox infobox-red">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-dollar"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number" id="recaudacion_dia"></span>
                        <div class="infobox-content">Recaudacion del dia</div>
                    </div>
                </div>

                <div class="infobox infobox-orange2">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-money"></i>
                    </div>
                    <div class="infobox-data">
                        <span class="infobox-data-number" id="recaudacion_semana"></span>
                        <div class="infobox-content">Recaudacion de la semana</div>
                    </div>
                </div>

                <div class="infobox infobox-blue2">
                    <div class="infobox-icon">
                        <i class="ace-icon fa fa-exclamation-triangle"></i>
                    </div>

                    <div class="infobox-data">
                        <span class="infobox-data-number" id="citas_not"></span>
                        <div class="infobox-content">Citas no concretadas (semana)</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-2"></div>

        </div>
        <br><br><br>
    {% endif %}
    <h1><i class="fa fa-tags"> Nuestros Servicios</i></h1>
    <div class="row">
        <div class="col-sm-12 col-lg-1"></div>
        <div class="col-sm-12 col-lg-10">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                </div>
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Siguiente</span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-1"></div>
    <br><br><br>
    {% if request.user.tipo == 1 %}
        <div class="row">
            <div class="col-sm-12 col-lg-10">
                <canvas id="myChart" width="300" height="100"></canvas>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"
            integrity="sha512-BqNYFBAzGfZDnIWSAEGZSD/QFKeVxms2dIBPfw11gZubWwKUjEgmFUtUls8vZ6xTRZN/jaXGHD/ZaxD9+fDo0A=="
            crossorigin="anonymous"></script>
    <script src="{% static 'apps/dashboard.js' %}"></script>
{% endblock %}