{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>{{ titulo }}</title>

    <meta name="description" content="Sistema de Informacion 'Pato Faenado'"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'assets/font-awesome/4.5.0/css/font-awesome.min.css' %}"/>

    <!-- text fonts -->
    <link rel="stylesheet" href="{% static 'assets/css/fonts.googleapis.com.css' %}"/>

    <!-- ace styles -->
    <link rel="stylesheet" href="{% static 'assets/css/ace.min.css' %}"/>

    <!--[if lte IE 9]>
			<link rel="stylesheet" href="{% static 'assets/css/ace-part2.min.css' %}" />
		<![endif]-->
    <link rel="stylesheet" href="{% static 'assets/css/ace-rtl.min.css' %}"/>

    <!--[if lte IE 9]>
		  <link rel="stylesheet" href="{% static 'assets/css/ace-ie.min.css' %}" />
		<![endif]-->

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
		<script src="{% static 'assets/js/html5shiv.min.js'%}"></script>
		<script src="{% static 'assets/js/respond.min.js'%}"></script>
		<![endif]-->


    <link rel="stylesheet" href="{% static 'lib/isloading-v1.0.6/isloading-v1.0.6.css' %}"/>
</head>

<body class="login-layout blur-login">
<div class="main-container">
    <div class="main-content">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="login-container">
                    <div class="center">
                        <h1>
                            <i class="ace-icon fa fa-eye green"></i>
                            <span class="red">CITS</span>
                            <span class="white" id="id-text2">Express</span>
                        </h1>
                        <h4 class="light-blue" id="id-company-text">&copy; {{ empresa.nombre }}</h4>
                    </div>

                    <div class="space-6"></div>

                    <div class="position-relative">
                        <div id="login-box" class="login-box visible widget-box no-border col-sm-12">
                            <div class="widget-body">
                                <div class="widget-main">
                                    <h4 class="blue lighter bigger">
                                        Tu contraseña es una temporal, por favor cambiala aqui...
                                    </h4>

                                    <div class="space-12"></div>
                                    <form method="post" id="form_password">
                                        <div class="row">
                                            <div class="form-group">
                                                {{ form_password.as_p }}
                                            </div>
                                        </div>
                                        <div class="center" id="buttons_form_password">
                                            <button type="submit"
                                                    class="btn btn-sm btn-primary btn-white btn-round col-sm-5">
                                                <i class="ace-icon fa fa-floppy-o bigger-150 middle blue"></i>
                                                <span class="bigger-110">Guardar</span>
                                            </button>
                                            <div class="col-sm-2"></div>
                                            <button type="button"
                                                    class="btn btn-sm btn-danger btn-white btn-round col-sm-5"
                                                    onclick="salir();">
                                                <i class="ace-icon fa fa-ban bigger-150 middle red"></i>
                                                <span class="bigger-110">Cancelar</span>
                                            </button>
                                        </div>
                                    </form>
                                </div><!-- /.widget-main -->
                                <hr>
                                <hr>
                                <div class="toolbar clearfix">
                                </div>
                            </div><!-- /.widget-body -->
                        </div><!-- /.login-box -->
                    </div><!-- /.position-relative -->
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.main-content -->
</div><!-- /.main-container -->
<script src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>
<!-- basic scripts -->
<script>
    $(function () {
        validador();
        $.validator.addMethod("passwordcheck", function (value) {
            return /^[A-Za-z0-9\d=!\-@._*]*$/.test(value) // consists of only these
                && /[a-z]/.test(value) // has a lowercase letter
                && /\d/.test(value) // has a digit
                && /[\[\]?*+|{}\\()@.\n\r]/.test(value)// has a special character
        }, "La contraseña debe contener de 8 a 20 carácteres alfanuméricos (a-z A-Z), contener mínimo un dígito (0-9) y un carácter especial");
        var form_password = $("#form_password");
        form_password.validate({
            rules: {
                new_password1: {
                    required: true,
                    minlength: 8,
                    maxlength: 20,
                    passwordcheck: true
                },
                old_password:{required: true},
                new_password2: {
                    required: true,
                    minlength: 8,
                    maxlength: 20,
                    equalTo: "#id_new_password1",
                    passwordcheck: true
                }
            },
            messages: {
                new_password1: {
                    required: "Por favor ingresa una contraseña valida",
                    minlength: "La contraseña debe contener de 5 a 20 carácteres alfanuméricos (a-z A-Z), contener mínimo un dígito (0-9) y un carácter especial",
                    maxlength: "La contraseña debe contener de 5 a 20 carácteres alfanuméricos (a-z A-Z), contener mínimo un dígito (0-9) y un carácter especial",
                },
                old_password: {
                    required: "Por favor ingresa tu contraseña temporal",
                },
                new_password2: {
                    required: "Las contraseñas deben coincidir",
                    equalTo: "Las contraseñas deben coincidir",
                }
            },
        });

        $("#form_password input[type='password']").on('change keyup', function () {
            $('#buttons_form_password').fadeIn();
        });

        $("#form_password").on('submit', function (e) {
            e.preventDefault();
            var parametros = new FormData(this);
            parametros.append('action', 'password');
            var isvalid = $(this).valid();
            if (isvalid) {
                save_with_ajax2('Alerta',
                    '/persona/usuario/perfil', 'Esta seguro que desea cambiar su contraseña?', parametros,
                    function (response) {
                        menssaje_ok('Exito!', 'Exito al cambiar su contraseña!', 'far fa-smile-wink', function () {
                            window.location.href = '/menu'
                        });
                    });
            }
        });

    });

    function salir() {
        var parametros = {'data': ''};
        save_estado('Cerrando Sesion', '/logout', 'Esta Seguro que quieres cerrar sesion?', parametros, function () {
            window.location.href = '/login';
        })
    }
</script>
<!--[if !IE]> -->
<script src="{% static 'assets/js/jquery-2.1.4.min.js' %}"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='{% static "assets/js/jquery.mobile.custom.min.js" %}'>" + "<" + "/script>");
</script>

<!-- inline scripts related to this page -->
<script type="text/javascript"
        src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/additional-methods.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="{% static 'lib/isloading-v1.0.6/isloading-v1.0.6.js' %}"></script>
<script src="{% static 'apps/funtions.js' %}"></script>
<script src="{% static 'apps/login.js' %}"></script>
<script src="{% static 'apps/cliente/form.js' %}"></script>
</body>
</html>
