{% load static %}

<div id="sidebar" class="sidebar responsive ace-save-state compact menu-min">
    <script type="text/javascript">
        try {
            ace.settings.loadState('sidebar')
        } catch (e) {
        }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list">
        <li>
            <a href="{% url 'menu' %}">
                <i class="menu-icon fa fa-tachometer"></i>
                <span class="menu-text"> Menu </span>
            </a>

            <b class="arrow"></b>
        </li> <!-- /Menu -->
        {% if request.user.tipo == 1 %}
            <li class="">
                <a href="{% url 'user:lista_cliente' %}">
                    <i class="menu-icon fa fa-user"></i>
                    <span class="menu-text">
								Clientes
							</span>
                </a>
            </li>
            <li class="">
                <a href="{% url 'servicio:lista' %}">
                    <i class="menu-icon fa fa-server"></i>
                    <span class="menu-text">Gestion de Servicio</span>
                </a>
            </li>
            <li class="">
                <a href="{% url 'venta:cita_nuevo' %}">
                    <i class="menu-icon fa fa-book"></i>
                    <span class="menu-text">
								Gestion de Agenda
							</span>
                </a>
            </li>
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-money"></i>
                    <span class="menu-text"> Transacciones </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="{% url 'compra:lista' %}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Compras
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="{% url 'venta:lista' %}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Ventas
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="{% url 'producto:inventario' %}">
                    <i class="menu-icon fa fa-pencil-square-o"></i>
                    <span class="menu-text"> Inventario </span>
                </a>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list-alt"></i>
                    <span class="menu-text"> Productos </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="{% url 'producto:nuevo' %}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Nuevo Producto
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="{% url 'producto:lista' %}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Lista de Productos
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="{% url 'categoria:nuevo' %}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Nueva Categoria
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="{% url 'categoria:lista' %}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Lista de Categorias
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="{% url 'presentacion:nuevo' %}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Nueva Presentacion
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="{% url 'presentacion:lista' %}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Lista de Presentaciones
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="{% url 'empleado:lista' %}">
                    <i class="menu-icon fa fa-group"></i>
                    <span class="menu-text">
								Emplelados
							</span>
                </a>
            </li>

            <li class="">
                <a href="{% url 'user:lista_usuario' %}">
                    <i class="menu-icon fa fa-male"></i>
                    <span class="menu-text">
								Usuarios
							</span>
                </a>
            </li>
            <li class="">
                <a href="{% url 'equipos:lista' %}">
                    <i class="menu-icon fa fa-rocket"></i>
                    <span class="menu-text"> Equipos </span>
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-file-archive-o"></i>
                    <span class="menu-text"> Informes </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="{% url 'venta:report_total' %}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Ventas
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="{% url 'compra:report_total' %}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Compras
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="{% url 'empleado:reporte' %}">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Empleados
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        {% else %}
            <li class="">
                <a href="{% url 'venta:cita_nuevo' %}">
                    <i class="menu-icon fa fa-book"></i>
                    <span class="menu-text">
								Mis citas
							</span>
                </a>
            </li>
            <li class="">
                <a href="{% url 'venta:lista' %}">
                    <i class="menu-icon fa fa-money"></i>
                    <span class="menu-text">
								Mis Compras
							</span>
                </a>
            </li>
        {% endif %}
    </ul><!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
           data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
</div>