{% extends 'front-end/list.html' %}

{% load static %}
{% block table_content %}
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Cliente</th>
        <th>Subtotal</th>
        <th>Iva</th>
        <th>Total</th>
        <th>N° Comprobante</th>
        <th>Estado</th>
        <th class="text-center" scope="col" style="width: 10%"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
{% endblock %}
{% block modal %}
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle"><i class="fa fa-shopping-basket"></i> Detalle de
                        Venta </h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table" id="tbldetalle_venta">
                        <thead>
                        <tr>
                            <th>Concepto</th>
                            <th>Tipo</th>
                            <th>Duracion (Mts)</th>
                            <th class="hidden-xs">Categoria</th>
                            <th class="hidden-480">Presentacion</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra %}
    <script src="{% static 'apps/venta/list.js' %}"></script>
    <script src="{% static 'apps/venta/form.js' %}"></script>
    <script src="{% static 'apps/cliente/form.js' %}"></script>
    <script src="{% static 'apps/funtions.js' %}"></script>
    <script></script>
{% endblock %}
{% block javascript %}

{% endblock %}