{% extends 'front-end/list.html' %}
{% load static %}
{% block formulario %}

{% endblock %}
{% block botones_head %}
    <div class="row">
        <div class="container-fluid">
            <div class="form-group">
                <a type="button" class="btn btn-white btn-danger" onclick="window.location.reload();"><span
                        class="glyphicon glyphicon-refresh"></span> Actualizar
                </a>
                <a type="button" class="btn btn-white btn-primary" href="{% url 'venta:report_by_product' %}"><i
                        class="fa fa-sort-numeric-desc"></i> Por Productos
                </a>
                <a type="button" class="btn btn-white btn-default" href="{% url 'venta:report_by_services' %}"><i
                        class="fa fa-bullhorn"></i> Por Servicios
                </a>
                 <a type="button" class="btn btn-white btn-primary" href="{% url 'venta:report_empleado_venta'%}"><i
                        class="fa fa-users"></i> Por Empleado
                </a>
            </div>
            <div class="form-group col-lg-3">
                <label for="fecha"><strong>Filtar por Fecha:</strong></label>
                <input type="text" name="fecha" id="fecha" class="form-control form-control-sm input-sm">
            </div>
        </div>
    </div>
{% endblock %}
{% block elements %}
    <br>
    <div class="row">
        <div class="col-lg-4">
            <label for="fecha"><strong>Rango de Fechas:</strong></label>
            <input type="text" name="fecha" id="fecha" class="form-control form-control-sm input-sm"></div>
    </div>
    <br>
{% endblock %}
{% block table_content %}
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Cliente</th>
        <th>Total (sin Iva)</th>
        <th>Total (Iva)</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
    <tr>
        <th></th>
        <th><strong>Totales: Esta pagina (Total filtrado)</strong></th>
        <th></th>
        <th></th>
        <th></th>

    </tr>
    </tfoot>
{% endblock %}
{% block extra %}
    <script src="{% static 'apps/venta/report_total.js' %}"></script>
{% endblock %}
