{% extends 'front-end/list.html' %}
{% load static %}
{% block formulario %}
{% endblock %}
{% block botones_head %}
    <div class="row">
        <div class="container-fluid">
            <div class="form-group">
                <a type="button" class="btn btn-white btn-danger" onclick="window.location.reload();"><span
                        class="glyphicon glyphicon-refresh"></span> Actualizar
                </a>
                <a type="button" class="btn btn-white btn-success" href="{% url 'venta:report_total' %}"><i
                        class="fa fa-money"></i> Totales
                </a>
                <a type="button" class="btn btn-white btn-primary" href="{% url 'venta:report_by_product'%}"><i
                        class="fa fa-sort-numeric-desc"></i> Por Productos
                </a>
            </div>
            <div class="form-group col-lg-3">
                <label for="fecha"><strong>Filtar por Fecha:</strong></label>
                <input type="text" name="fecha" id="fecha" class="form-control form-control-sm input-sm">
            </div>
        </div>
    </div>
{% endblock %}
{% block table_content %}
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Servicio</th>
        <th>Categoria</th>
        <th>Duracion</th>
        <th>Cantidad</th>
        <th>Valor</th>
        <th>Subtotal</th>
        <th>Iva Generado</th>
        <th>Total (con Iva)</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th style="text-align:center" ><strong>Cantidad:</strong></th>
        <th style="text-align:center"></th>
        <th style="text-align:center"><strong>Totales:</strong></th>
        <th style="text-align:center"></th>
        <th style="text-align:center"></th>
        <th style="text-align:center"></th>
    </tr>
    </tfoot>
{% endblock %}

{% block extra %}
    <script src="{% static 'apps/venta/report_product.js' %}"></script>
{% endblock %}
{% block javascript %}

{% endblock %}