{% extends 'front-end/list.html' %}
{% load static %}
{% block botones_head %}
    <div class="container-fluid">
        <button type="button" class="btn btn-white btn-danger" onclick="window.location.reload();"><span
                class="glyphicon glyphicon-refresh"></span> Actualizar
        </button>
    </div>
{% endblock %}
{% block table_content %}
    <thead>
    <tr>
        <th style="width: 18%">NOMBRE</th>
        <th style="width: 10%">CATEGORIA</th>
        <th style="width: 10%;">PRESENTACION</th>
        <th style="width: 13%">DESCRIPCION</th>
        <th style="width: 8%">IMAGEN</th>
        <th style="width: 10%" class="text-center">STOCK</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
{% endblock %}
{% block extra %}
    <script src="{% static 'apps/producto/inventario.js' %}"></script>
{% endblock %}