{% extends 'front-end/list.html' %}

{% load static %}
{% block botones_head %}
    <div class="row">
        <div class="container-fluid">
            <div class="form-group">
                <a type="button" class="btn btn-white btn-success" href="{% url 'compra:nuevo' %}"><i
                        class="fa fa-plus-circle"></i> Nuevo
                </a>
                <a type="button" class="btn btn-white btn-danger" onclick="window.location.reload();"><span
                        class="glyphicon glyphicon-refresh"></span> Actualizar
                </a>
            </div>
            <div class="form-group col-lg-3">
                <label for="fecha"><strong>Filtar por Fecha de compra:</strong></label>
                <input type="text" name="fecha" id="fecha" class="form-control form-control-sm input-sm">
            </div>
        </div>
    </div>
{% endblock %}
{% block table_content %}
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Proveedor</th>
        <th>Tasa</th>
        <th>Subtotal</th>
        <th>Iva</th>
        <th>Total</th>
        <th>N° Comprobante</th>
        <th>Estado</th>
        <th class="text-center" scope="col" style="width: 10%"><em class="fa fa-cog"></em></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
{% endblock %}
{% block modal %}
    <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"><i class="fa fa-info-circle"></i> Detalle de
                        Compra </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table" id="tbldetalle_insumos">
                        <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Categoria</th>
                            <th style="width: 10%;">Presentacion</th>
                            <th style="width: 13%">Descripcion</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra %}
    <script src="{% static 'apps/compra/list.js' %}"></script>
    <script src="{% static 'apps/compra/form.js' %}"></script>
    <script src="{% static 'apps/proveedor/form.js' %}"></script>
    <script src="{% static 'apps/funtions.js' %}"></script>
    <script></script>
{% endblock %}
{% block javascript %}

{% endblock %}